* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#parent {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

#navbar {
    flex: 25%;
    max-width: 25%;
    padding: 10px;
    background-color: #5e595931;
    height: 100vmax;
    position: fixed;
    left: 0%;
    scrollbar-3dlight-color: aquamarine;
    border-right: 2px solid #5e5959;
}

#main-doc {
    flex: 75%;
    max-width: 75%;
    min-width: 75%;
    padding: 10px;
    position: absolute;
    left: 25%;
    margin-left: -5%;

}


#navbar a {
    display: block;
    text-decoration: none;
    color: rgb(11, 33, 44);
    padding: 10px 15px;
    font-weight: 100;
    font-size: 1.15rem;
    border-bottom: 1px #5e5959 solid;
}

#navbar a:nth-child(14) {
    border-bottom: none;
}

#navbar a:first-of-type {
    border-top: 1px #5e5959 solid;
}

#navbar a:hover {
    background: #413c3c79;
}

h1 {
    justify-content: center;
    text-align: center;
    font-weight: normal;
    font-size: 1.70em;
}

h2 {
    font-weight: 500;
    font-size: 1.8rem;
}

p,
ul,
code {
    font-size: 1.02rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.95em;
    color: #5e5959ee;
}

.pre {
    display: block;
    padding: 30px;
    background-color: #5e595921;
    font-style: oblique;
    margin-left: 40px;
    word-spacing: 8px;

}

#Data_Types ul {
    list-style-type: circle;
}

.list {
    margin-left: 60px;
}

@media (max-width: 662px) {
    #navbar {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        height: 30vh;
        width: 100%;
        min-width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        border: 1px solid #5e5959;
    }

    #main-doc {
        flex-direction: column;
        margin: 30vh 0 0 -20%;
        width: 100vmax;
    }

}