html {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    background-color: #65686b2d;
    position: relative;
}

#flex-container,
#main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.column-one {
    padding: 20px;
    position: relative;
}

#tribute-info {
    padding: 20px;

}

#title {
    font-size: 2.55em;
    text-align: center;
    font-weight: 600;
}

.title {
    text-align: center;
    font-size: 1.25rem;
    font-weight: normal;

}

section {
    background-color: #8f91924b;
    color: #232425de;
    margin: 0 auto;
    width: 30%;
    border-radius: 20px;
}

p.intro {
    margin: 1.05rem;
    padding-top: 20px;
    text-align: center;
}

ul>li {
    list-style-type: circle;
    line-height: 1.85rem;
}

#tribute-link {
    text-decoration: none;
    color: rgba(43, 43, 221, 0.795);
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-weight: lighter;
}

.conclusion {
    font-weight: 100;
    text-align: center;
}

@media (max-width: 662px) {
    section {
        width: 100%;
    }
}